node_modules
# Keep environment variables out of version control
.env
dist
**.sqlite
**.sqlite-journal

# Ignore Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
